.container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.watchList {
    background: deepskyblue;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
}

.watchList .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 9px;
    border-radius: 50%;
    background: #333;
    color: white;
}
